<!DOCTYPE html>
<html>
<head>
  <title>Movie deleted Successfully</title>
<link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h2><%= message %></h2>
    <a href="/movies">View All Movies</a>
  </div>
</body>
</html>